@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .navbar-fixed{
        @apply fixed  z-[9999] bg-emerald-50 shadow-lg top-0 ;
        backdrop-filter:blur(10px);
    }
    .animation-header{
        @apply transition-all duration-300 ease-in-out;
    }
    .home-navbar-fixed{
        @apply -mt-[4.1rem] lg:pt-0;
        /* @apply mt-96 !important; */
    }
    .backdrop-f{
        backdrop-filter:blur(10px);
    }
    .humberger-line{
        @apply w-[30px] h-[2px] my-2 block bg-black rounded-lg;
    }
    .humberger{
        @apply transition-transform duration-200 ease-linear ;
    }
    .humberger-active{
        @apply fixed top-[.5rem] right-2 z-50; 
    }
    .humberger-active>span:nth-child(1)
    {
     @apply rotate-45 origin-top-left;
    }
    .humberger-active>span:nth-child(2)
    {
     @apply scale-0;
    }
    .humberger-active>span:nth-child(3)
    {
     @apply -rotate-45 origin-bottom-left;
    }
    .nav-sidebar{
        transform-style: preserve-3d;
        @apply fixed  h-[100vh] top-0 right-0 bg-white w-[50vw] p-4 z-50; 
        
    }
    nav::after {
        content: "";
        background-color: rgba(0, 0, 0, 0.155);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 100%;
        transform: translateZ(1rem);
        
    }
    .nav-sidebar>a{
        @apply font-bold text-base tracking-wider;
    }
   .nav-sidebar ul{
    @apply py-3
   }
    .nav-sidebar ul li{
        @apply py-2;
    }
    .nav-sidebar ul li a {
        @apply text-first-size-t font-medium;
    }
    .btn{
        @apply bg-first-bg-c-btn font-normal text-base text-first-c-text p-2 rounded-md relative  ;
    }
    .bg-image{
        background-image: url("../images/mobil1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @apply h-[34vh] w-full -right-2;
    }
    .bg-image2{
        background-image: url("../images/happy.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        /* transform: scale(.9); */
        @apply h-[34vh] w-full -right-2;
    }
    .avatar1{
        background-image: url("../images/avatar1.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @apply h-[80px] w-[80px] ;
    }
    .swiper-pagination{
        bottom: 0 !important;
    }
    .active-link{
        @apply after:absolute after:content-[''] after:top-7 after:w-0 after:bg-first-bg-c after:left-0 after:h-1 after:rounded-full hover:after:w-full after:transition-all after:duration-300 after:ease-linear hover:text-first-bg-c;
    }
    /* here animation bubble */
    .animate-buble{
        @apply relative  after:animate-bubble1 after:opacity-40 after:absolute after:-left-[6rem] after:rounded-full after:bottom-10 after:content-[''] after:w-40 after:h-40 after:bg-first-bg-c  before:animate-bubble1 before:opacity-40 before:absolute before:left-[40rem] before:rounded-full before:top-10 before:content-[''] before:w-20 before:h-20 before:bg-first-bg-c-btn ;
    }
   
}

